<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/static/styles/style.css">

  <title>RJ Plus</title>
</head>

<body class="d-flex flex-column align-items-stretch">

  <main class="d-flex flex-column main-layout">

    <div class="d-flex justify-content-between app-site-wrapper">
      <div class="rjplus-banner">RadioJavan+</div>
      <div class="d-flex">
        <!-- <div class="site-wrapper mr-4">Site</div> -->
        <div class="social-wrapper d-flex justify-content-start d-flex align-items-center">
          <div class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="social-icon">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="social-icon">
            <i class="fab fa-youtube"></i>
          </div>
          <div class="social-icon">
            <i class="fab fa-telegram"></i>
          </div>
          <div class="social-icon">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex menu-wrapper">
      <nav class="navbar navbar-expand-md navbar-dark">

        <a class="navbar-brand mr-0" href="#">
          <img src="/static/images/nav_logo@2x.png" width="200" height="33">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <div></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">MP3s</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Playlists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">RJTV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Podcasts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>
        </div>


      </nav>
    </div>

    <div class="finder-wrapper">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="background-image: url('/static/images/carousel/02.jpg')" class="carousel-image-item"></div>
          </div>
          <div class="carousel-item">
            <div style="background-image: url('/static/images/carousel/01.jpg')" class="carousel-image-item"></div>
          </div>
          <div class="carousel-item">
            <div style="background-image: url('/static/images/carousel/03.jpg')" class="carousel-image-item"></div>
          </div>
        </div>
      </div>

      <div id="search-form" class="d-flex flex-column justify-content-center align-items-center">
        <form action="/find" method="POST" class="col-sm-10 col-md-8 col-lg-6 col-xl-4 d-flex flex-column justify-content-center align-items-center">
          <div class="d-flex form-wrapper w-100">
            <input type="url" class="form-control form-control-lg border-0 mr-2" name="url" placeholder="URL" aria-label="URL" aria-describedby="button-find">
            <span class="fas fa-search form-control-feedback" aria-hidden="true"></span>
            <!-- <div class="input-group-append"> -->
            <button class="btn btn-outline-light btn-lg border-0" type="submit" id="button-find">find</button>
            <!-- </div> -->
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center founded-wrapper">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 mb-3 d-flex flex-column justify-content-start">
        <% for(var i=0; i<downloadLinks.length; i++) { %>
          <div class="download-item-wrapper mb-3">
            <div class="d-flex">
              <div class="cover-wrapper">
                <div class="tumb-cover" style="background-image: url('/static/images/icons/<%= downloadLinks[i].type %>-solid-white.svg');">
                  <img src="<%= downloadLinks[i].cover %>" alt="">
                </div>
              </div>
              <div class="detail-wrapper d-flex flex-column">
                <span>
                  <%= downloadLinks[i].title %>
                </span>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <a href="<%= downloadLinks[i].link %>" target="_blank" class="btn btn-outline-secondary">Download</a>
            </div>
          </div>
          <% } %>
      </div>
    </div>



  </main>

  <footer class="d-flex footer-layout">
    <div class="container">
      <span class="text-muted">Footer</span>
    </div>
  </footer>

  <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/node_modules/scrollpos-styler/scrollPosStyler.js"></script>
  <script>
    ScrollPosStyler.init();

    $('.carousel').carousel({
      interval: 5000
    })

    $(document).ready(function () {});
  </script>
</body>

</html>