<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

  <title>RJ Plus</title>
</head>

<body>

  <div class="container-fluid">
    <div id="section-01" class="d-flex justify-content-center  align-items-center row" style="min-height: 50vh; background-image: linear-gradient(to right top, #aa2712, #831a1e, #59141f, #2f1017, #000000);">
      <div class="d-inline-flex justify-content-center  align-items-center col col-lg-4">
        <form action="/fetch" method="POST" class="form-inline">
          <div class="input-group">
            <input type="url" class="form-control  form-control-lg" name="url" placeholder="url" aria-label="url" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-danger btn-lg" type="submit" id="button-addon2">find</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="section-02" class="d-flex justify-content-center align-items-center row" style="min-height: calc(50vh -16px)">
      <div class="d-inline-flex justify-content-center  align-items-center col col-lg-4">
        <div class="row">
          <div class="col-sm d-flex justify-content-center align-items-center">
            <%= downloadLink %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm d-flex justify-content-center align-items-center">
            <a role="button" href="/" class="btn btn-secondary">back</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>