<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

  <title>RJ Plus</title>
</head>

<body>

  <div class="container d-flex justify-content-center" style="min-height: calc(100vh - 16px);">

    <div class="d-inline-flex align-items-center">
      <form class="form">
        <div class="form-group mx-sm-3 mb-2">
          <%= downloadLink %>
        </div>
        <button type="button" onclick="location.back()" class="btn btn-secondary mb-2">back</button>
      </form>
    </div>


  </div>


  <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>