<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

  <title>RJ Plus</title>
</head>

<body>

  <div class="container flex-column d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 16px);">

    <div class="row">
      <div class="col-sm d-flex justify-content-center align-items-center">
        <%= downloadLink %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm d-flex justify-content-center align-items-center">
        <a role="button" href="/" class="btn btn-secondary mb-2">back</a>
      </div>
    </div>

  </div>


  <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>