body {
  background-color: #1b1a18;
  color: #ffffff;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-layout {
  -webkit-flex: 1;
  flex: 1;
}

.app-site-wrapper {
  padding: 8px 16px;
  background-color: #1b1a18;
}
.app-site-wrapper .social-wrapper .social-icon {
  cursor: pointer;
  width: 28px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.menu-wrapper {
  background: rgba(33, 33, 33, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.menu-wrapper .navbar {
  width: 100%;
}
.menu-wrapper .navbar .navbar-brand {
  padding: 0;
}

.finder-wrapper {
  height: calc(200px + 32px + 32px);
  background-color: #ffffff;
  position: relative;
}
.finder-wrapper .carousel,
.finder-wrapper .carousel-inner {
  height: 100%;
  width: 100%;
}
.finder-wrapper .carousel-item {
  height: 100%;
  width: 100%;
  position: relative;
}
.finder-wrapper .carousel-item .carousel-image-item {
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.finder-wrapper #search-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.finder-wrapper #search-form .form-wrapper {
  -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.51);
  background-color: rgba(0, 0, 0, 0.29);
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px / 8px;
  padding: 8px;
  -moz-transition: background-color 700ms;
  -o-transition: background-color 700ms;
  -webkit-transition: background-color 700ms;
  transition: background-color 700ms;
  border: 2px solid #aaaaaa;
}
.finder-wrapper #search-form .form-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.finder-wrapper #search-form .form-wrapper .form-control-feedback {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 32px;
  color: #ffffff;
  width: 24px;
  z-index: 1000;
}
.finder-wrapper #search-form .form-wrapper .form-control {
  padding-left: 38px;
  background-color: transparent;
  color: #ffffff;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.finder-wrapper #search-form .form-wrapper .form-control::placeholder {
  color: #cccccc;
}

.founded-wrapper {
  background: rgba(33, 33, 33, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  padding: 16px 0;
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden;
}

.footer-layout {
  padding: 16px;
  min-height: 60px;
}

.rjplus-banner {
  background-color: rgba(170, 39, 18, 0.4);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: -8px 0;
  padding: 8px 16px;
  cursor: pointer;
}
.rjplus-banner:hover {
  background-color: #aa2712;
}

.download-item-wrapper {
  border: 1px solid #363636;
  background-color: rgba(33, 33, 33, 0.45);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.51), inset 0 0 0 rgba(137, 137, 137, 0.29), inset 0 0 5px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.51), inset 0 0 0 rgba(137, 137, 137, 0.29), inset 0 0 5px rgba(0, 0, 0, 0.11);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.51), inset 0 0 0 rgba(137, 137, 137, 0.29), inset 0 0 5px rgba(0, 0, 0, 0.11);
  padding: 8px;
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px / 8px;
}
.download-item-wrapper .detail-wrapper {
  min-width: 0;
  max-width: calc(100% - 8px - 50px - 1px);
}
.download-item-wrapper .detail-wrapper span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.download-item-wrapper .cover-wrapper {
  margin-right: 8px;
}
.download-item-wrapper .cover-wrapper .tumb-cover {
  width: 50px;
  height: 50px;
  background: #000;
  border: 1px solid #363636;
  background-color: rgba(33, 33, 33, 0.45);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.51), inset 0 0 0 rgba(137, 137, 137, 0.29), inset 0 0 5px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.51), inset 0 0 0 rgba(137, 137, 137, 0.29), inset 0 0 5px rgba(0, 0, 0, 0.11);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.51), inset 0 0 0 rgba(137, 137, 137, 0.29), inset 0 0 5px rgba(0, 0, 0, 0.11);
  background-image: url("/static/images/music-solid.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px / 8px;
  overflow: hidden;
}
.download-item-wrapper .cover-wrapper .tumb-cover img {
  width: 100%;
  height: inherit;
}

.logo-download-app {
  height: 40px;
}
.logo-download-app.logo-google {
  height: 60px;
}
.logo-download-app.logo-cafebazzar {
  margin: 10px 0;
}

.examples-wrapper {
  padding: 16px 0;
  background-color: #6666;
}
.examples-wrapper ul {
  list-style: none;
}

.navbar-brand-rjplus {
  color: #a2a2a2 !important;
}
